# Basic Python

## 1. Split this string

In [2]:
s = "Hi there Sam!"

In [3]:
a=s.split(" ")
print(a)

['Hi', 'there', 'Sam!']

*`italicized text`*## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [4]:
planet = "Earth"
diameter = 12742

In [5]:
planet = "Earth"
diameter = 12742
print("The diameter of {0} is {1} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [6]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [7]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]['tricky'][3]['target'][3])

hello

# Numpy

In [8]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [9]:
n=10
a=[]
b=[]
for i in range(0,n):
  a.append(0)
  b.append(5)

In [18]:
print (a)
print (b)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]
[6, 7, 8]

## 5. Create an array of all the even integers from 20 to 35

In [19]:
a=[]
i=20
while(i<=35):
  if(i%2==0):
    a.append(i)
  i=i+1
print(a)

[20, 22, 24, 26, 28, 30, 32, 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [20]:
r=3
c=3
a=[]
l=0
for i in range(0,r):
  b=[]
  for j in range(0,c):
    b.append(l)
    l=l+1
  a.append(b)
print(a)
print (b)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]
[6, 7, 8]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [21]:
c=a+b
print (c)

[[0, 1, 2], [3, 4, 5], [6, 7, 8], 6, 7, 8]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [13]:
import pandas as pd

In [14]:
import pandas as pd
data = [['A', 10], ['B', 15], ['C', 14]]
df = pd.DataFrame(data, columns=['Name', 'Age'])
print(df)

  Name  Age
0    A   10
1    B   15
2    C   14

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [15]:
import pandas as pd 
pd.date_range('2023-01-01', '2023-02-10')

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [16]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [17]:
lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]